.question {
    width: 300px;
    height: 200px;
    background-color: #2a3698;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.1s;
    box-sizing: border-box;
    color: white;
    border: 0px solid yellow;
    font-size: 32px;
    font-weight: bold;
}

.question:hover {
    border-width: 3px ;
}

.question:active {
    filter: brightness(70%);
}

@keyframes bigify {
    from {
        height: 200px;
        width: 300px;
    }
    to {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.modal {
    background-color: #2a3698;
    align-items: center;
    justify-content: center;
    color: white;
    height: 200px;
    width: 300px;
    transition: all 2s;
    display: none;
    z-index: 100;
    font-size: 30px;
    font-weight: bold;
}

.open {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: bigify 1s;
}